*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

html{
  scroll-behavior:smooth;
}

body{
  font-family:Arial, Helvetica, sans-serif;
  background:#0f172a;
  color:white;
  overflow-x:hidden;
}

#root{
  width:100%;
}
.profile-image{
    width:320px;
    height:320px;
    border-radius:50%;
    object-fit:cover;
    object-position:center top;
}
.resume-buttons{
    display:flex;
    gap:20px;
    margin-top:30px;
    flex-wrap:wrap;
}

.resume-btn{
    display:flex;
    align-items:center;
    justify-content:center;
    gap:10px;

    padding:15px 30px;
    min-width:220px;

    background:linear-gradient(135deg,#2563eb,#1d4ed8);
    color:white;
    text-decoration:none;

    border-radius:12px;
    font-size:18px;
    font-weight:600;

    transition:all .3s ease;
    box-shadow:0 10px 25px rgba(37,99,235,.35);
}

.resume-btn:hover{
    transform:translateY(-5px);
    box-shadow:0 15px 30px rgba(37,99,235,.5);
}

.view-btn{
    background:linear-gradient(135deg,#0f172a,#334155);
}

.view-btn:hover{
    box-shadow:0 15px 30px rgba(15,23,42,.45);
}
.dark{

    background:#0f172a;

    color:white;

    transition:.5s;

}

.light{

    background:white;

    color:#111827;

    transition:.5s;

}
html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}
/* =========================
   SMALL MOBILE - 320px
========================= */

@media (max-width: 350px) {

    .about,
    .skills,
    .experience,
    .projects,
    .contact {
        padding-left: 12px;
        padding-right: 12px;
    }

    .skills-grid {
        grid-template-columns: 1fr;
    }

    .skill-box {
        width: 100%;
        min-width: 0;
        padding: 15px;
    }

    .skill-name {
        font-size: 14px;
        margin-left: 10px;
    }

    .tech-stack {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
    }

    .tech-card {
        width: 100%;
        height: 130px;
        padding: 10px;
    }

    .tech-card span {
        font-size: 14px;
        text-align: center;
    }

    .timeline-content {
        min-width: 0;
        padding: 15px;
    }

    .about-right {
        width: 100%;
    }

    .about-info {
        flex-direction: column;
    }
}
